{% load settings_vars %}
{% load static %}
{% load url_tools %}
{% load i18n %}

<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Success!</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" type="text/css" href="{% static 'user/css/main.css' %}">
</head>

<body>
    <div class="content">
        <h2 class="title">{% trans 'Reset your Syncnote account password' %}</h2>
        <form method="post" class="reset_form">
            {% csrf_token %}
            <div class="field">
                <input placeholder="{% trans 'New password' context 'placeholder' %}" type="password" name="new_password1">
            </div>
            <div class="field">
                <input placeholder="{% trans 'Repeat the password' context 'placeholder' %}" type="password" name="new_password2">
            </div>
            <input type="hidden" value="{{ uid }}" name="uid">
            <input type="hidden" value="{{ token }}" name="token">
            <div class="field">
                <button class="reset_submit btn">{% trans 'Confirm' %}</button>
            </div>
        </form>
    </div>

    <script>
        const submit = document.querySelector(".reset_submit");
        const form = document.querySelector(".reset_form");
        const fieldNames = {
            'new_password1': "{% trans 'New password' context 'field name' %}",
            'new_password2': "{% trans 'Password confirmation' context 'field name' %}"
        };
        form.addEventListener("submit", e => {
            e.preventDefault();
            fetch(".", {
                method: "POST",
                body: new FormData(form)
            }).then(r => {
                if(r.status != 200) {
                    r.json()
                        .then( data => {
                            let msg = "";
                            for(let [key, value] of Object.entries(data)){
                                msg += (fieldNames?.[key] || key) + ":\n";
                                for(let err of value){
                                    msg += `  - ${err} \n`;
                                }
                                msg += '\n';
                            }
                            alert(msg);
                        })
                        .catch( e => alert("{% trans 'Password reset error' %}"));
                } else
                    window.location.href = "{% api_full_url 'user:password_reset_success' %}";
            });
            return false;
        });
    </script>
</body>
</html>