{% load static %}
{% load i18n %}


<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% trans 'Your password has successfully been changed!' %}</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" type="text/css" href="{% static 'user/css/main.css' %}">
</head>

<body>
    <div class="content message">
        <h2 class="title">{% trans 'Your password has successfully been changed!' %}</h2>
    </div>
</body>
</html>