{% load static %}
{% load url_tools %}
{% load settings_vars %}
{% load i18n %}

<meta name="color-scheme" content="light dark">
<meta name="supported-color-schemes" content="light dark">

<style type="text/css">
:root {
    Color-scheme: light dark;
    supported-color-schemes:light dark;
}
</style>


<p class="main-logo" style="text-align:center;text-align:center;">
{#    <img class="main-logo__image" src="{% backend_full_url %}{% static 'casamsa_common/zammans_logo_small.png' %}?v=1" alt="" style="height:89px;width:auto;"/>#}
    <br>
</p>
<p class="text-default" style="font-size:17px;color:black;font-size: 17px; color: black;">
    {% trans 'Hi,' context "Warning-email's greeting. Username follows it" %}, {{ user.first_name }},
    <br>
</p>
<p class="text-default" style="font-size:17px;color:black;">
    {% trans "We have received a request to reset your Syncnote password." %}
<br>
</p>
<p class="text-default" style="font-size:17px;color:black;">
    {% trans "Click the link to reset your password:" %} <a href="{% api_full_url 'user:password_reset_confirm' %}?uid={{ uid }}&token={{ token }}">{% api_full_url 'user:password_reset_confirm' %}?uid={{ uid }}&token={{ token }}</a>
    <br>
</p>
<p class="text-default" style="font-size:17px;color:black;">
    {% trans "The link will take you to a page where you can enter a new password. When you are done, you need to return to the Syncnote app and log in with your new password." %}
<br>
</p>
<p class="text-default" style="font-size:17px;color:black;">
    {% trans "You don't go anywhere clicking the link? Copy and paste the link into your browser's search bar" %}
<br>
</p>
<p class="text-default" style="font-size:17px;color:black;">
    {% trans "If you have not requested a new password, just ignore this message" %}
<br>
</p>
<p class="text-default" style="font-size:17px;color:black;">
    <br>
    {% trans "Sincerely,<br>Syncnote team<br>" %}
    <br>
</p>

{# Dark mode style for ios #}
<style type="text/css">
@media (prefers-color-scheme: dark ) {
    body {
        background-color: black;
    }
    .text-default {
        color: #fff !important;
    }
}
</style>
