{% load static %}
{% load url_tools %}
{% load settings_vars %}

<meta name="color-scheme" content="light dark">
<meta name="supported-color-schemes" content="light dark">

<style type="text/css">
:root {
    Color-scheme: light dark;
    supported-color-schemes:light dark;
}
</style>


<p class="main-logo" style="text-align:center;text-align:center;">
{#    <img class="main-logo__image" src="{% backend_full_url %}{% static 'casamsa_common/zammans_logo_small.png' %}?v=1" alt="" style="height:89px;width:auto;"/>#}
    <br>
</p>
<p class="text-default" style="font-size:17px;color:black;font-size: 17px; color: black;">
    Hej {{ user.first_name }},
    <br>
</p>
<p class="text-default" style="font-size:17px;color:black;">
    Vi har fått en begäran om att återställa ditt lösenord hos Zammans.
<br>
</p>
<p class="text-default" style="font-size:17px;color:black;">
    Klicka på länken för att återställa ditt lösenord: <a href="{% get_settings_var 'PASSWORD_RESET_CONFIRM_URL' %}/?uid={{ uid }}&token={{ token }}">{% get_settings_var 'PASSWORD_RESET_CONFIRM_URL' %}/?uid={{ uid }}&token={{ token }}</a>
    <br>
</p>
<p class="text-default" style="font-size:17px;color:black;">
    Länken kommer att ta dig till en webbplats där du kan ange ett nytt lösenord. När du är klar behöver du återvända till Zammans-appen och logga in med ditt nya lösenord.
<br>
</p>
<p class="text-default" style="font-size:17px;color:black;">
    Kommer du inte vidare när du klickar på länken? Kopiera och klistra in länken i din webbläsare.
<br>
</p>
<p class="text-default" style="font-size:17px;color:black;">
    Om du inte har begärt ett nytt lösenord, kontakta support@zammans.com
<br>
</p>
<p class="text-default" style="font-size:17px;color:black;">
    <br>
    Vänliga hälsningar,<br>
    Teamet på Zammans<br>
    <br>
{#    <img class="text-logo-image" src="{% backend_full_url %}{% static 'casamsa_common/zammans_logo_large.png' %}?v=1" alt="" style="height:23.5px;width:auto;"/><br>#}
</p>

{# Dark mode style for ios #}
<style type="text/css">
@media (prefers-color-scheme: dark ) {
    body {
        background-color: transparent;
    }
    .text-default {
        color: #fff !important;
    }
}
</style>
